* {
    color: #EDEDED;
    user-select: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #090212;
    width: 100%;
    height: 100%;
}

.navContainer {
    position: sticky;
    background-color: #312244;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    z-index: 100;
}

#mainNav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
}

.navButton {
    border: #EDEDED solid 2px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    width: 140px;
    height: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.navButton:hover {
    border-color: #4F6875;
}

#imageGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    grid-row-gap: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.imageContainer {
    position: relative;
    width: 100%; /* Take up full width of the grid cell */
    height: auto;
}

.imageHolder {
    width: 100%;
    height: auto;
    object-fit: cover; /* Fit image within container */
}

.imageDownload {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.78);
    padding: 10px;
    border-radius: 100px;
    display: none;
}

.imageContainer:hover .imageDownload {
    display: block;
}

input:checked {
    color: #090212;
}

/**************** CUSTUM CHECKBOX *******************/
/* Hide the default checkbox */
.customCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox look */
.customCheckbox {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    user-select: none;
    z-index: 100;
}

/* Style the checkmark (the custom box) */
.customCheckbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: #a2a2a2 2px solid;
    background-color: #EDEDED;
    border-radius: 100px;
}

/* When the checkbox is checked, change the background */
.customCheckbox input:checked + .checkmark {
    background-color: #240046;
}

/* Add a checkmark (tick) inside the custom checkbox */
.customCheckbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Display the checkmark when the checkbox is checked */
.customCheckbox input:checked + .checkmark:after {
    display: block;
    animation: rotateCheckmark 0.5s ease-in-out;
}

/* Style the checkmark (tick) */
.customCheckbox .checkmark:after {
    left: 50%;
    top: 45%;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg); /* Adjust the positioning */
    transition: transform 0.3s ease-in-out;
}

@keyframes rotateCheckmark {
    0% {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(25deg) scale(1.1); /* Rotate counterclockwise */
    }
    100% {
        transform: translate(-50%, -50%) rotate(45deg); /* Rotate back to original position */
    }
}
/**************** END *******************/

#selectImageMenu {
    background-color: #090212;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
    border: #4F6875 2px solid;
    padding: 15px;
    z-index: 101;
}

.selectItem {
    font-size: 20px;
    border: #a2a2a2 2px solid;
    padding: 10px;
    border-radius: 100px;
    width: 100px;
    text-align: center;
    color: #EDEDED;
    transition: 0.5s;
}

.selectItem:active {
    background-color: #4F6875;
}

.hidden {
    display: none !important;
}

.downloadButtonImageHolder {
    display: block;
}

.overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    position: absolute;
    z-index: 50;
}

#displayMenu {
    position: fixed;
    right: 30px; /* Adjust this value to position it next to the searchSwitch */
    top: 20px; /* Position it below the search bar */
    background-color: #090212;
    border: 2px solid #EDEDED;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000; /* Ensure it appears above other elements */
    max-height: 200px; /* Set a maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
    font-size: 20px;
}

.displayMenuItem {
    margin-bottom: 8px;
    color:#a2a2a2;
    transition: 0.2s;
}

.displayMenuItem:last-child{
    margin-bottom: 0;
}

.displayMenuItem:hover {
    color: #EDEDED;
}

#displayOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: block;
}

.displayHidden {
    display: none !important;
}